<!-- Button trigger modal -->
button.btn.btn-primary.btn-lg(type="button" data-toggle="modal" data-target="#myModal") Launch demo modal

<!-- Modal -->
.modal.fade#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
        span(aria-hidden="true") &times;
        h4.modal-title#myModalLabel Modal title
      .modal-body Modal body
      .modal-footer
        button.btn.btn-default(type="button" class="" data-dismiss="modal") Close
        button.btn.btn-primary(type="button") Save changes

//- .modal.fade(tabindex="-1" role="dialog")
//-   .modal-dialog(role="document")
//-     .modal-content
//-       .modal-header
//-         button(type="button" class="close" data-dismiss="modal" aria-label="Close")
//-         span(aria-hidden="true") &times;
//-         h4.modal-title Modal title
//-       .modal-body
//-         p One fine body &hellip;
//-       .modal-footer
//-         button.btn.btn-default(type="button" data-dismiss="modal") Close
//-         button.btn.btn-primary(type="button") Save changes